.imagetext-container {
    display: flex;
    margin-bottom: 20px;
}

.imagetext-left .imagetext-image {
    margin-right: 15px;
}

.imagetext-right .imagetext-image {
    margin-left: 15px;
}

.imagetext-image {
    width: 400px;
    height: 300px;
    object-fit: cover; /* Ensures the image respects the Smart Crop dimensions */
}

.imagetext-text {
    flex: 1;
    padding: 10px;
}
